{% extends 'base.html' %}

{% block content %}

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-6 text-center">
  
                <h3>Enter new password</h3>

                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                
              <form method="POST">
                {% csrf_token %}
                <div class="form-outline mb-4"> 
                    {{form.as_p}}
                  </div>
  
              <input type="submit" value='Reset Password' class="btn btn-primary btn-lg btn-block">

            </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}